.about-section {
    @include flex-column-spc-btwn;

    &__content-container {
        @include flex-column-spc-btwn;
        overflow: hidden;
        padding: 5% 0;
    }

    &__limiter {
        width: 65%;
        padding-right: 1%;
    }

    &__title {
        text-align: center;
        padding-left: 3%;
        margin-bottom: 9%;
    }

    &__paragraph {
        font-size: calc(10px + 6 * (100vw / 1280));
        letter-spacing: 0.7px;
        line-height: clamp(1.2, 1.5, 1.5);
        margin-bottom: 6%;
    }

    &__paragraph:last-child {
        margin-bottom: 0;
    }

    &__img-container {
        width: 100%;
        background-color: #c6d3f1;
        padding-bottom: 125%;
        overflow: hidden;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

@media (min-width: 576px) {
    .about-section {
        &__img-container {
            width: 100%;
            max-width: 65%;
            padding-bottom: 81%;
        }
    }
}

@media (min-width: 960px) {
    .about-section {
        flex-direction: row;

        &__content-container {
            padding: 0;
        }

        &__content-container,
        &__img-container {
            width: 50%;
        }

        &__img-container {
            max-width: 100%;
            padding-bottom: 63.5%;
        }

        &__image {
            transform: scale(1.1);
        }
    }
}
