.about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__content-container {
        height: auto;
        padding: 25px;
        overflow: hidden;
    }

    &__title {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 300;
        font-size: $xs-title-fs;
        text-align: center;
        margin-bottom: 20px;
    }

    &__paragraph {
        font-family: 'Yantramanav';
        font-style: normal;
        font-weight: 300;
        font-size: $xs-paragraph-fs;
        letter-spacing: 0.7px;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    &__image {
        width: 100%;
        max-height: 797px;
        height: 797px;
    }
}

@media (min-width: 768px) {
    .about-section {
        flex-direction: row;

        &__content-container {
            width: 54.7%;
            padding: 90px 63px 40px 80px;
        }

        &__title {
            margin-bottom: 30px;
        }

        &__paragraph {
            margin-bottom: 20px;
        }

        &__img-container {
            width: 45.3%;
        }
    }
}

@media (min-width: 992px) {
    .about-section {
        &__paragraph {
            font-size: $sx-paragraph-fs;
            line-height: 1.5;
        }
    }
}

@media (min-width: 1200px) {
    .about-section {
        &__content-container {
            padding: 69px 125px 40px 162px;
        }

        &__title {
            margin: 0 0 35px 8px;
        }

        &__paragraph {
            margin-bottom: 24px;
        }
    }
}
