.about-section {
    @include flex-column-spc-btwn;

    &__content-container {
        @include flex-column-spc-btwn;
        overflow: hidden;
        padding: 5% 0;
    }

    &__limiter {
        width: 65%;
        padding-right: 2%;
    }

    &__title {
        text-align: center;
        padding-left: 2%;
        margin-bottom: 9%;
    }

    &__paragraph {
        font-size: calc(10px + 6 * (100vw / 1280));
        letter-spacing: 0.7px;
        line-height: clamp(1.2, 1.5, 1.5);
        margin-bottom: 6%;
    }

    &__paragraph:last-child {
        margin-bottom: 0;
    }

    &__image {
        width: 100%;
        aspect-ratio: 1/1.289;
    }
}

@media (min-width: 576px) {
    .about-section {
        &__img-container {
            width: 100%;
            max-width: 610px;
        }
    }
}

@media (min-width: 960px) {
    .about-section {
        flex-direction: row;

        &__content-container {
            padding: 0;
        }

        &__content-container {
            flex: 1 0 0;
        }

        &__img-container {
            width: 49.2%;
            max-width: 100%;
        }
    }
}
