.about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__content-container {
        padding: 25px;
        overflow: hidden;
    }

    &__title {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 300;
        font-size: $xs-title-fs;
        text-align: center;
        margin-bottom: 20px;
    }

    &__paragraph {
        font-family: 'Yantramanav';
        font-style: normal;
        font-weight: 300;
        font-size: $xs-paragraph-fs;
        letter-spacing: 0.7px;
        line-height: 1.2;
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .about-section {
        flex-direction: row;
        height: 100vh;

        &__content-container {
            flex: 1 1 auto;
            width: 54.7%;
            height: 100vh;
            padding: 100px 40px 40px 50px;
        }

        &__title {
            margin-bottom: 30px;
        }

        &__paragraph {
            margin-bottom: 20px;
        }

        &__img-container {
            width: 45.3%;
        }

        &__image {
            min-height: 100vh;
        }
    }
}

@media (min-width: 992px) {
    .about-section {
        &__content-container {
            padding: 116px 63px 40px 100px;
        }

        &__paragraph {
            font-size: $sx-paragraph-fs;
            line-height: 1.5;
        }
    }
}

@media (min-width: 1200px) {
    .about-section {
        &__content-container {
            padding: 115px 125px 40px 162px;
        }

        &__title {
            margin: 0 0 35px 8px;
        }

        &__paragraph {
            margin-bottom: 24px;
        }
    }
}
