.about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__content-container {
        padding: 25px;
    }

    &__title {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: $xs-title-fs;
        text-align: center;
        margin-bottom: 20px;
    }

    &__paragraph {
        font-family: 'Yantramanav';
        font-style: normal;
        font-weight: 400;
        font-size: $xs-paragraph-fs;
        line-height: 1.2;
        margin-bottom: 15px;
    }
}

@media (min-width: 576px) {
    .about-section {
        &__content-container {
            padding: 40px;
            overflow: hidden;
        }
    }
}

@media (min-width: 768px) {
    .about-section {
        flex-direction: row;

        &__content-container {
            flex: 0 0 auto;
            width: 50%;
            padding: 10px 20px 10px 20px;
        }

        &__img-container {
            width: 50%;
        }

        &__title {
            margin-bottom: 30px;
        }
    }
}

@media (min-width: 992px) {
    .about-section {
        &__content-container {
            padding: 60px 50px 30px 60px;
        }

        &__paragraph {
            font-size: $sx-paragraph-fs;
            line-height: 1.5;
        }

        &__image {
            width: 100%;
        }
    }
}

@media (min-width: 1200px) {
    .about-section {
        &__content-container {
            padding: 120px 132px 120px 90px;
        }
    }
}
