.addresses-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-family: "Nunito";
        font-size: $xxs-title-fs;
        font-weight: 300;
        text-align: center;
        letter-spacing: 0.5px;
        margin: 20px 0;
    }

    &__subtitle {
        font-family: "Yantramanav";
        font-size: $s-paragraph-fs;
        font-weight: 300;
        line-height: 1.2;
        text-align: center;
        padding: 0 30px;
    }

    &__compliment-contacts {
        font-family: "Yantramanav";
        font-weight: 300;
    }
    
    &__subtitle,
    &__compliment-title,
    &__compliment-paragraph,
    &__compliment-email,
    &__compliment-contacts {
        margin-bottom: 15px;
    }

    &__stores-addresses {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
        grid-row-gap: 10px;
        grid-column-gap: 5px;
        width: 75%;
        margin-bottom: 20px;
    }

    &__store-address {
        font-family: "Yantramanav";
        font-size: $xs-paragraph-fs;
        font-weight: 300;
        line-height: 1.2;
    }

    &__store-title {
        display: block;
        font-size: $sx-paragraph-fs;
        font-weight: 700;
    }

    &__store-website {
        display: block;
        color: $primary-url-color;
    }

    &__store-website:hover {
        color: $primary-button-bg-clr-hover;
    }

    &__compliment-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__compliment-title {
        font-family: "Nunito";
        font-size: $xxxs-title-fs;
        font-weight: 300;
        letter-spacing: 0.5px;
    }

    &__compliment-paragraph {
        font-family: "Yantramanav";
        font-size: $s-paragraph-fs;
        font-weight: 300;
    }

    &__compliment-contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__compliment-email,
    &__compliment-phone {
        font-family: "Yantramanav";
        font-size: $sx-paragraph-fs;
        letter-spacing: 0.5px;
    }

    &__compliment-email:hover,
    &__compliment-phone:hover {
        color: $primary-button-bg-clr-hover;
    }

    &__compliment-email {
        color: $primary-email-clr;
    }

    &__compliment-phone {
        color: #000;
    }
}

@media (min-width: 576px) {
    .addresses-section {
        &__stores-addresses {
            grid-template-columns: repeat(3, 1fr);
            width: 90%;
            margin-bottom: 30px;
        }

        &__store-address {
            line-height: 1.3;
        }
    }
}

@media (min-width: 992px) {
    .addresses-section {

        &__title {
            font-size: $xs-title-fs;
            margin: 91px 0px 19px 108px;
        }

        &__subtitle {
            margin: 0 0 70px 117px;
        }

        &__stores-addresses {
            grid-template-columns: repeat(5, 1fr);
            grid-row-gap: 20px;
            margin-bottom: 50px;
        }

        &__compliment-title {
            margin-bottom: 25px;
        }

        &__compliment-paragraph {
            margin-bottom: 30px;
        }

        &__compliment-contacts {
            flex-direction: row;
            width: 347px;
        }

        &__compliment-email {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 1200px) {
    .addresses-section {
        margin-bottom: 65px;

        &__stores-addresses {
            grid-row-gap: 50px;
            grid-column-gap: 57px;
            width: 1000px;
            margin: 0 0 90px 75px;
        }

        &__store-address {
            line-height: 1.5;
        }

        &__store-website {
            padding-top: 6px;
        }

        &__compliment-container {
            margin-left: 94px;
        }

        &__compliment-title {
            margin: 0 0px 19px 21px;
        }

        &__compliment-paragraph {
            margin: 0 0 48px 29px;
        }

        &__compliment-email {
            padding-left: 2px;
        }
    }
}
