.carousel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    position: relative;

    &__title {
        font-family: "Nunito";
        font-size: $xxs-title-fs;
        text-align: center;
        margin: 20px 0;
    }

    &__subtitle {
        font-family: "Yantramanav";
        font-size: $s-paragraph-fs;
        line-height: 1.2;
        text-align: center;
        padding: 0 25px;
        margin-bottom: 15px;
    }

    &__list {
        padding: 0 25px;
    }

    &__item {
        display: none;
    }

    &__item.active {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__img-container {
        display: flex;
        flex-direction: column;
        height: 360px;
        margin-bottom: 15px;
    }

    &__image {
        max-height: 360px;
        margin: auto 0;
        // max-width: 466px;
    }

    &__product-name {
        font-family: "Nunito";
        font-size: $ml-paragraph-fs;
        margin-bottom: 15px;
    }

    &__slide-number {
        font-family: "Yantramanav";
        font-size: $xs-paragraph-fs;
    }

    &__prev-slide-button,
    &__next-slide-button {
        cursor: pointer;
        position: absolute;
        top: 160px;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        max-height: 350px;
        padding: 0;
        background: 0 0;
        border: none;
        opacity: 0.5;
        outline: none;
    }

    &__prev-slide-button {
        left: 1%;
    }

    &__next-slide-button {
        right: 1%;
    }

    &__prev-slide-button:hover,
    &__prev-slide-button:focus,
    &__prev-slide-button:active,
    &__next-slide-button:hover,
    &__next-slide-button:focus,
    &__next-slide-button:active {
        opacity: 1;
    }

    &__prev-slide-icon,
    &__next-slide-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100% 100%;
    }

    &__prev-slide-icon {
        background-image: url('../images/carousel/navigation/prev.svg');
    }
    
    &__next-slide-icon {
        background-image: url('../images/carousel/navigation/next.svg');
    }
}

@media (min-width: 576px) {
    .carousel {
        &__image {
            max-width: 466px;
        }
    }
}

@media (min-width: 992px) {
    .carousel {
        &__title {
            font-size: $xs-title-fs;
            margin: 85px 0 30px;
        }

        &__subtitle {
            font-size: $s-paragraph-fs;
        }

        &__prev-slide-button,
        &__next-slide-button {
            max-height: 466px;
            width: 20%;
        }

        &__product-name {
            font-size: $l-paragraph-fs;
        }

        &__slide-number {
            font-size: $s-paragraph-fs;
        }
    }
}

@media (min-width: 1200px) {
    .carousel {
        &__prev-slide-button {
            left: 5%;
        }

        &__next-slide-button {
            right: 5%;
        }
    }
}
