.carousel-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    position: relative;

    &__title,
    &__product-name {
        font-family: "Nunito";
        font-weight: 300;
    }

    &__title {
        font-size: $xxs-title-fs;
        text-align: center;
    }

    &__subtitle {
        font-family: "Yantramanav";
        font-size: $s-paragraph-fs;
        line-height: 1.2;
        text-align: center;
    }

    &__list {
        padding: 0 25px;
    }

    &__item {
        display: none;
    }

    &__item.active {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__img-container {
        display: flex;
        flex-direction: column;
        height: 360px;
        margin-bottom: 15px;
    }

    &__image {
        max-height: 360px;
        margin: auto 0;
        // max-width: 466px;
    }

    &__product-name {
        font-size: $ml-paragraph-fs;
        margin-bottom: 15px;
    }

    &__slide-number {
        font-family: "Yantramanav";
        font-size: $xs-paragraph-fs;
    }

    &__prev-slide-button,
    &__next-slide-button {
        cursor: pointer;
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 18.6em;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 1px solid $primary-carousel-buttons-border-clr;
        background: 0 0;
        opacity: 0.5;
        outline: none;
    }

    &__prev-slide-button {
        left: 1%;
    }

    &__next-slide-button {
        right: 1%;
    }

    &__prev-slide-button:hover,
    &__prev-slide-button:focus,
    &__prev-slide-button:active,
    &__next-slide-button:hover,
    &__next-slide-button:focus,
    &__next-slide-button:active {
        opacity: 1;
    }

    &__prev-slide-icon,
    &__next-slide-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100% 100%;
    }

    &__prev-slide-icon {
        background-image: url('../images/carousel/navigation/prev.svg');
    }
    
    &__next-slide-icon {
        background-image: url('../images/carousel/navigation/next.svg');
    }
}

@media (min-width: 576px) {
    .carousel-section {
        &__title {
            margin: 20px 0;
        }

        &__image {
            max-width: 466px;
        }

        &__prev-slide-button,
        &__next-slide-button {
            top: 20.6em;
        }

        &__prev-slide-button {
            left: 1.6em;
        }

        &__next-slide-button {
            right: 1.6em;
        }
    }
}

@media (min-width: 768px) {
    .carousel-section {

        &__title {
            font-size: $xs-title-fs;
            margin: 80px 0 17px 144px;
        }

        &__subtitle {
            font-size: $s-paragraph-fs;
            margin: 0 0 75px 128px;
        }

        &__list {
            margin-left: 40px;
        }

        &__img-container {
            margin-bottom: 30px;
        }

        &__product-name {
            margin: 0 0 25px 5px;
        }

        &__prev-slide-button,
        &__next-slide-button {
            top: 30em;
        }

        &__prev-slide-button {
            left: 7.6em;
        }

        &__next-slide-button {
            right: 5.6em;
        }
    }
}

@media (min-width: 992px) {
    .carousel-section {
        &__subtitle {
            font-size: $s-paragraph-fs;
            margin: 0 0 75px 168px;
        }

        &__list {
            margin-left: 90px;
        }

        &__img-container {
            margin-bottom: 50px;
        }

        &__product-name {
            font-size: $l-paragraph-fs;
            margin: 0 0 25px 5px;
        }

        &__slide-number {
            font-size: $s-paragraph-fs;
        }

        &__prev-slide-button {
            left: 14.6em;
        }

        &__next-slide-button {
            right: 8.6em;
        }
    }
}

@media (min-width: 1200px) {
    .carousel-section {
        &__list {
            margin-left: 110px;
        }

        &__img-container {
            margin-bottom: 58px;
        }

        &__product-name {
            margin: 0 0 31px 5px;
        }

        &__slide-number {
            margin-left: 10px;
        }

        &__prev-slide-button {
            left: 19.6em;
        }

        &__next-slide-button {
            right: 10.6em;
        }
    }
}
