.footer {
    @include flex-column-spc-btwn;
    background-color: $primary-footer-bg-clr;
    padding-top: 30px;

    &__container {
        @include flex-column-spc-btwn;
        min-width: 80%;
        max-width: 508px;
    }

    &__title {
        font-family: "Nunito";
        font-size: calc(12px + 18 * (100vw / 1280));
        font-weight: 300;
        letter-spacing: 0.7px;
        margin: 5% 0 3% 4%;
    }

    &__paragraph {
        font-size: calc(10px + 12 * (100vw / 1280));
        margin: 0 0 10% 4%;
    }

    &__form {
        width: 93%;
        margin: 0 0 23% 9%;
    }

    &__copyright {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: $xxs-paragraph-fs;
        text-align: center;
        align-self: flex-start;
        width: 100%;
        letter-spacing: 0.5px;
        background-color: $primary-copyright-bg-clr;
        color: $primary-copyright-clr;
        height: 30px;
        padding: 5px 20px;
    }
}

@media (min-width: 768px) {
    .footer {
        height: 448px;
        padding-top: 10%;

        &__container {
            min-width: 55%;
        }
    }
}

@media (min-width: 992px) {
    .footer {
        width: 100vw;
        padding-top: 103px;
        margin-left: calc(50% - 50vw);

        &__container {
            min-width: 500px;
        }

        &__copyright {
            height: 40px;
            padding: 0% 3.5%;
            text-align: start;
        }
    }
}

@media (min-width: 1400px) {
    .footer {
        &__container {
            min-width: 550px;
            max-width: 550px;
        }
    }
}
