.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $primary-footer-bg-clr;
    padding: 20px 0;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-family: "Nunito";
        font-size: $xxxs-title-fs;
    }

    &__title,
    &__paragraph {
        margin-bottom: 15px;
        text-align: center;
    }

    &__paragraph {
        font-family: "Yantramanav";
        font-size: $s-paragraph-fs;
        line-height: 1.2;
    }

    &__form {
        width: 80%;
        margin-bottom: 20px;
    }

    &__copyright {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'Yantramanav';
        font-size: $xxs-paragraph-fs;
        background-color: $primary-copyright-bg-clr;
        color: $primary-copyright-clr;
    }
}

@media (min-width: 576px) {
    .footer {
        &__input-email {
            height: 40px;
        }

        &__input-email.active ~ &__label-email {
            left: 65%;
        }

        &__label-email {
            top: 12px;
        }

        &__sign-up-button {
            font-size: $s-paragraph-fs;
        }
    }
}

@media (min-width: 768px) {
    .footer {
        height: 300px;
        padding: 40px 0 0 0;

        &__container {
            flex: 1 1 auto;
        }

        &__form {
            margin-bottom: 70px;
        }

        &__input-email {
            font-size: $sm-paragraph-fs;
            height: 46px;
            padding: 15px 0 15px 30px;
        }

        &__label-email {
            font-size: $sm-paragraph-fs;
            left: 30px;
            top: 15px;
        }
    }
}

@media (min-width: 992px) {
    .footer {
        height: 445px;
        padding-top: 140px;

        &__title {
            font-size: $xs-title-fs;
        }

        &__paragraph {
            font-size: $ml-paragraph-fs;
        }

        &__form {
            margin-bottom: 110px;
        }

        &__copyright {
            height: 40px;
            padding: 10px 25px;
        }
    }
}
