.form {
    display: flex;
    flex-direction: row;
    max-width: 490px;

    &__input-wrapper {
        width: 65%;
        position: relative;
    }

    &__input-email {
        font-family: "Yantramanav";
        font-style: normal;
        font-weight: 300;
        font-size: calc(15px + 4 * (100vw / 1280));
        height: 46px;
        width: 100%;
        border-top-left-radius: $primary-border-radius;
        border-bottom-left-radius: $primary-border-radius;
        border: none;
        outline: none;
        padding: 15px 0 15px 30px;
    }

    &__sign-up-button {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 400;
        flex: 1 1 auto;
        font-size: calc(15px + 5 * (100vw / 1280));
        color: $primary-txt-clr;
        background-color: $primary-button-bg-clr;
        border: none;
        border-top-right-radius: $primary-border-radius;
        border-bottom-right-radius: $primary-border-radius;
        padding-right: 12px;
        cursor: pointer;
    }

    &__sign-up-button:focus,
    &__sign-up-button:active,
    &__sign-up-button:hover {
        background-color: $primary-button-bg-clr-hover;
    }
}
