.primary-paragraph {
    font-size: calc(15px + 5 * (100vw / 1280));
    text-align: center;
    line-height: 1.45;
}

.secondary-paragraph {
    font-size: calc(14px + 6 * (100vw / 1280));
    letter-spacing: 0.7px;
    line-height: clamp(1.2, 1.5, 1.5);
    text-align: center;
}
