.reviews-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__content-container {
        padding: 25px;
        overflow: hidden;
    }

    &__title {
        font-family: "Nunito";
        font-size: $xxs-title-fs;
        text-align: center;
        margin-bottom: 20px;
    }

    &__title,
    &__paragraph {
        text-align: center;
        font-style: normal;
        font-weight: 400;
    }

    &__paragraph {
        font-family: "Yantramanav";
        font-size: $s-paragraph-fs;
        line-height: 1.2;
        margin-bottom: 15px;
    }
}

@media (min-width: 576px) {
    .reviews-section {
        &__content-container {
            padding: 40px;
        }
    }
}

@media (min-width: 768px) {
    .reviews-section {
        flex-direction: row;

        &__content-container {
            order: 2;
            flex: 0 0 auto;
            width: 50%;
        }

        &__img-container {
            order: 1;
            width: 50%;
        }
    }
}

@media (min-width: 992px) {
    .reviews-section {
        &__title {
            font-size: $xs-title-fs;
            margin-bottom: 50px;
        }

        &__paragraph {
            font-size: $m-paragraph-fs;
            margin-bottom: 50px;
        }

        &__paragraph:last-child {
            font-size: $s-paragraph-fs;
        }

        &__image {
            width: 100%;
        }
    }
}

@media (min-width: 1200px) {
    .reviews-section {
        &__content-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
        }

        &__title,
        &__paragraph {
            width: 325px;
        }
    }
}
