.reviews-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__content-container {
        padding: 15px;
        overflow: hidden;
    }

    &__title,
    &__quotes {
        font-family: "Nunito";
        font-weight: 300;
    }

    &__title {
        font-size: $xxs-title-fs;
        text-align: center;
        letter-spacing: 0.4px;
        margin-bottom: 20px;
    }

    &__quotes {
        font-size: $xxl-paragraph-fs;
        color: $primary-quotes-clr;
    }

    &__paragraph {
        font-family: "Yantramanav";
        font-size: $s-paragraph-fs;
        line-height: 1.2;
        text-align: center;
        font-style: normal;
        font-weight: 300;
        margin-bottom: 15px;
    }

    &__quotes.close {
        text-align: end;
        margin: 40px 0 53px 297px;
    }

    &__image {
        width: 100%;
        max-height: 800px;
        height: 800px;
    }
}

@media (min-width: 576px) {
    .reviews-section {
        &__content-container {
            padding: 40px;
        }
    }
}

@media (min-width: 768px) {
    .reviews-section {
        flex-direction: row;

        &__content-container {
            order: 2;
            flex: 1 1 auto;
            width: 45.3%;
            height: 100vh;
            padding: 90px 63px 40px 80px;
        }

        &__title {
            margin-bottom: 30px;
        }

        &__img-container {
            display: flex;
            flex-direction: column;
            align-items: end;
            order: 1;
            width: 54.7%;
        }

        &__image {
            width: 93%;
            max-width: 93%;
        }

        &__quotes.close {
            margin: 60px 0 53px 160px;
        }
    }
}

@media (min-width: 992px) {
    .reviews-section {
        &__content-container {
            padding: 170px 78px 40px 90px;
        }

        &__title {
            font-size: $xs-title-fs;
            margin-bottom: 50px;
        }

        &__paragraph {
            font-size: $m-paragraph-fs;
        }

        &__paragraph:last-child {
            font-size: $s-paragraph-fs;
        }

        &__quotes.close {
            margin: -24px 0 53px 250px;
        }
    }
}

@media (min-width: 1200px) {
    .reviews-section {
        &__content-container {
            padding: 198px 79px 40px 160px;
        }

        &__title {
            margin-bottom: 72px;
        }

        &__paragraph {
            line-height: 1.45;
            letter-spacing: 1px;
            margin-top: -20px;
        }

        &__paragraph:last-child {
            margin-right: 24px;
        }

        &__quotes {
            margin-left: -30px;
        }

        &__quotes.close {
            margin-left: 297px;
        }
    }
}

@media (min-width: 1400px) {
    .reviews-section {
        &__image {
            width: 88%;
            max-width: 88%;
        }
    }
}
