.reviews-section {
    @include flex-column-spc-btwn;

    &__content-container {
        @include flex-column-spc-btwn;
        overflow: hidden;
        padding: 5% 0;
    }

    &__limiter {
        width: 58%;
    }

    &__title {
        text-align: center;
        padding: 2% 0 0 9%;
        margin-bottom: 20%;
    }

    &__quotes-open {
        margin: 0 0 8% 7%;
    }

    &__paragraph {
        padding: 0 1% 0 11%;
        margin-bottom: -1%;
    }

    &__paragraph:last-child {
        font-size: calc(12px + 6 * (100vw / 1280));
        padding: 0 2% 0 4%;
        margin-bottom: 0;
    }

    &__quotes-close {
        margin: -2% 0 23% 97%;
    }

    &__img-container {
        width: 100%;
        background-color: #e8ddd7;
        padding-bottom: 125%;
        overflow: hidden;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

@media (min-width: 576px) {
    .reviews-section {
        width: 65%;
        margin: 0 auto;
    }
}

@media (min-width: 960px) {
    .reviews-section {
        width: 100%;
        flex-direction: row;

        &__content-container {
            order: 2;
            padding: 0;
        }

        &__content-container,
        &__img-container {
            width: 50%;
        }

        &__img-container {
            order: 1;
            max-width: 100%;
            padding-bottom: 63.5%;
        }

        &__image {
            transform: scale(1.1);
        }
    }
}
