.reviews-2-section {
    @include flex-column-spc-btwn;

    &__content-container {
        @include flex-column-spc-btwn;
        overflow: hidden;
        padding: 5% 0;
    }

    &__limiter {
        width: 58%;
    }

    &__quotes-open {
        margin: 17% 0 0% 3%;
    }

    &__paragraph {
        padding: 8% 11% 0%;
        margin-bottom: 2%;
    }

    &__paragraph:last-child {
        font-size: calc(12px + 6 * (100vw / 1280));
        padding: 18% 6% 0 0%;
    }

    &__quotes-close {
        margin: -3% 0 3% 90%;
    }

    &__img-container {
        width: 100%;
        background-color: #151a16;
        padding-bottom: 125%;
        overflow: hidden;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

@media (min-width: 576px) {
    .reviews-2-section {
        &__img-container {
            width: 100%;
            max-width: 65%;
            padding-bottom: 81%;
        }
    }
}

@media (min-width: 960px) {
    .reviews-2-section {
        flex-direction: row;

        &__content-container {
            flex: 1 0 0;
            padding: 0;
        }

        &__img-container {
            width: 49.2%;
            max-width: 100%;
            padding-bottom: 63.5%;
        }

        &__image {
            transform: scale(1.1);
        }
    }
}
