.reviews-section {
    @include flex-column-spc-btwn;

    &__content-container {
        @include flex-column-spc-btwn;
        overflow: hidden;
        padding: 5% 0;
    }

    &__limiter {
        width: 58%;
    }

    &__title {
        text-align: center;
        padding: 4% 0 0 6%;
        margin-bottom: 22%;
    }

    &__quotes-open {
        margin: 0 0 7% 5%;
    }

    &__paragraph {
        font-size: calc(14px + 6 * (100vw / 1280));
        letter-spacing: 0.7px;
        line-height: clamp(1.2, 1.5, 1.5);
        text-align: center;
        padding: 0 2% 0 9%;
        margin-bottom: -2%;
    }

    &__paragraph:last-child {
        margin-bottom: 0;
    }

    &__quotes-close {
        margin: 0 0 24% 97%;
    }

    &__image {
        width: 100%;
        aspect-ratio: 1/1.24;
    }
}

@media (min-width: 576px) {
    .reviews-section {
        &__img-container {
            width: 100%;
            max-width: 610px;
        }
    }
}

@media (min-width: 960px) {
    .reviews-section {
        flex-direction: row;

        &__content-container {
            order: 2;
            flex: 1 0 0;
            padding: 0;
        }

        &__img-container {
            order: 1;
            width: 50.9%;
            max-width: 100%;
        }
    }
}
