    $primary-txt-clr: #fff;
    $primary-label-clr: #8c8c8c;
    $primary-button-bg-clr: #20ab50;
    $primary-button-bg-clr-hover: #116f32;
    $primary-nav-dot-bg-color: #dcdcdc;
    $primary-shadow-color: #000;
    $primary-why-section-bg-clr: #e0dfe0;
    $primary-why-section-paragraph-bg-clr: #fff;
    $primary-url-color: #1faa50;
    $primary-email-clr: #20ab50;

    $xxxs-title-fs: 2.4rem;
    $xxs-title-fs: 2.5rem;
    $xs-title-fs: 3rem;
    $s-title-fs: 4rem;
    $sm-title-fs: 5rem;
    $m-title-fs: 6rem;

    $xs-paragraph-fs: 1.5rem;
    $sx-paragraph-fs: 1.6rem;
    $s-paragraph-fs: 1.8rem;
    $sm-paragraph-fs: 1.9rem;
    $m-paragraph-fs: 2rem;
    $ml-paragraph-fs: 2.2rem;
    $l-paragraph-fs: 2.4rem;

    $primary-border-radius: 20px;
