    $primary-txt-clr: #fff;
    $primary-label-clr: #8c8c8c;
    $primary-button-bg-clr: #20ab50;
    $primary-button-bg-clr-hover: #116f32;
    $primary-nav-dot-bg-color: #dcdcdc;
    $primary-shadow-color: #000000;

    $xs-title-fs: 3rem;
    $s-title-fs: 4rem;
    $sm-title-fs: 5rem;
    $m-title-fs: 6rem;

    $xs-paragraph-fs: 1.5rem;
    $s-paragraph-fs: 1.8rem;
    $sm-paragraph-fs: 1.9rem;
    $m-paragraph-fs: 2rem;

    $primary-border-radius: 20px;
