.primary-title,
.secondary-title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 300;
}

.primary-title {
    // Размер минимального шрифта
    // + разница между максимальным и минимальным размером шрифта
    // умноженная на соотношение ширины view-порта к ширине макета
    font-size: calc(30px + 30 * (100vw / 1280));
    letter-spacing: 0.5px;
    text-shadow: 4px 3px 10px $primary-shadow-color;
}

.secondary-title {
    font-size: calc(24px + 6 * (100vw / 1280));
}
