.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 450px;
    background-image: url('../images/background-img__mobile.webp');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: $primary-txt-clr;

    &__logo {
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 15px;
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        max-width: 560px;
        height: 200px;
    }

    &__title {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
    }
    
    &__title {
        font-size: $xs-title-fs;
        font-weight: 300;
        letter-spacing: 0.5px;
        text-shadow: 4px 3px 10px $primary-shadow-color;
    }

    &__paragraph {
        font-family: 'Yantramanav';
        font-weight: 300;
    }

    &__paragraph {
        font-size: $xs-paragraph-fs;
        text-align: center;
        line-height: 1.2;
        text-shadow: 4px 3px 10px $primary-shadow-color;
    }

    &__form {
        width: 100%;
    }

    &__navigation-dots {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 33em;
        right: 1em;
        z-index: 2;
    }

    &__navigation-dot {
        display: block;
        width: 8px;
        height: 8px;
        background-color: $primary-nav-dot-bg-color;
        border-radius: 50%;
        margin-bottom: 18px;
        cursor: pointer;
        box-shadow: 1px 2px 5px $primary-shadow-color;
    }

    &__navigation-dot.active {
        width: 14px;
        height: 14px;
    }
}

@media (min-width: 576px) {
    .top-section {
        background-image: url('../images/background-img__tablet.webp');

        &__logo {
            top: 15px;
            left: 20px;
        }

        &__title {
            font-size: $s-title-fs;
        }

        &__paragraph {
            font-size: $s-paragraph-fs;
        }
    }
}

@media (min-width: 768px) {
    .top-section {

        &__content-container {
            height: 250px;
        }

        &__title {
            font-size: $sm-title-fs;
        }

        &__paragraph {
            font-size: $sm-paragraph-fs;
            line-height: 1.5;
        }
    }
}

@media (min-width: 992px) {
    .top-section {
        background-image: url('../images/background-img__desktop.webp');

        &__logo {
            top: 32px;
            left: 34px;
        }

        &__content-container {
            height: 270px;
        }

        &__title {
            font-size: $m-title-fs;
        }

        &__paragraph {
            font-size: $m-paragraph-fs;
        }
    }
}

@media (min-width: 1200px) {
    .top-section {
        width: 100vw;
        min-height: 400px;
        margin-left: calc(50% - 50vw);

        &__logo {
            left: 95px;
        }

        &__content-container {
            // Похоже, что на макете этот блок не по центру экрана
            margin-left: 120px;
        }

        &__title {
            padding-top: 11px;
        }

        &__paragraph {
            line-height: 1.35;
            padding-bottom: 30px;
        }

        &__form {
            margin-bottom: 17px;
        }

        &__navigation-dots {
            right: 3.5em;
            top: 33em;
        }
    }
}

@media (min-width: 1600px) {
    .top-section {
        &__navigation-dots {
            right: 4em;
        }
    }
}
