.why-plae-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-why-section-bg-clr;

    &__subtitle {
        font-weight: 300;
        text-align: center;
    }

    &__title {
        margin: 20px 0;
    }

    &__subtitle {
        font-family: "Yantramanav";
        font-size: $s-paragraph-fs;
        line-height: 1.2;
        
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
    }

    &__paragraph {
        font-family: "Yantramanav";
        font-size: $xs-paragraph-fs;
        font-weight: 300;
        line-height: 1.33;
        background-color: $primary-why-section-paragraph-bg-clr;
        border-radius: 10px;
        margin-bottom: 15px;
        padding: 14px 16px 12px 17px;
    }

    &__paragraph > span {
        display: block;
        font-weight: 700;
        margin-bottom: 3px;
    }
}

@media (min-width: 768px) {
    .why-plae-section {
        &__left-side,
        &__rigth-side {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 10px;
            row-gap: 10px;
            margin-bottom: 10px;
        }

        &__paragraph {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 992px) {
    .why-plae-section {
        width: 100vw;
        margin-top: 84px;

        &__title {
            margin: 38px 0 20px;
        }

        &__content-container {
            flex-direction: row;
            background-image: url('../images/why-desktop-image.webp');
            background-repeat: no-repeat;
            width: 900px;
            background-position: 53% 0%;
            background-size: 57% 110%;
        }

        &__left-side,
        &__rigth-side {
            display: flex;
            flex-direction: column;
            width: 25%;
        }

        &__mobile-image {
            display: none;
        }
    }
}

@media (min-width: 1200px) {
    .why-plae-section {
        height: 800px;
        margin-left: calc(50% - 50vw);

        &__title {
            margin: 78px 0 18px 144px;
        }

        &__subtitle {
            margin-left: 150px;
        }

        &__content-container {
            width: 1160px;
            padding: 0;
            margin: 6px 0 0 114px;
            background-position: 58% -14%;
            background-size: 71% 110%;
        }

        &__left-side,
        &__rigth-side {
            width: 20%;
        }

        &__paragraph > span {
            font-size: $sx-paragraph-fs;
        }
    }
}
