.why-plae-section {
    @include flex-column-center;
    background-color: $primary-why-section-bg-clr;

    &__title {
        margin: 6% 0 1.5% 3.5%;
    }

    &__subtitle {
        font-size: calc(14px + 4 * (100vw / 1280));
        text-align: center;
        margin: 5%;
    }

    &__content-container {
        @include flex-column-spc-btwn;
        margin: -2.5% 0 0 0;
    }

    &__left-side,
    &__rigth-side {
        margin: 0 5%;
    }

    &__paragraph {
        font-size: $xs-paragraph-fs;
        line-height: 1.4;
        background-color: $primary-why-section-paragraph-bg-clr;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 10px 15px;
    }

    &__paragraph > span {
        display: block;
        font-size: $sx-paragraph-fs;
        font-weight: 700;
    }
}

@media (min-width: 768px) {
    .why-plae-section {
        &__left-side,
        &__rigth-side {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 10px;
            row-gap: 10px;
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 992px) {
    .why-plae-section {
        width: 100vw;
        margin-top: 84px;
        background-image: url("../images/why-desktop-image.webp");
        background-repeat: no-repeat;
        background-position: 53% 134%;
        background-size: 84% 103%;

        &__subtitle {
            padding: 0 0 3.3% 4%;
            margin: 0;
        }

        &__content-container {
            flex-direction: row;
            align-items: flex-start;
            width: 88%;
        }

        &__left-side,
        &__rigth-side {
            display: block;
            width: 25%;
            margin: 0;
        }

        &__mobile-image {
            display: none;
        }
    }
}

@media (min-width: 1200px) {
    .why-plae-section {
        height: 795px;
        margin-left: calc(50% - 50vw);
        background-position: 53% 0%;
        background-size: 108% 100%;

        &__content-container {
            width: 1170px;
            height: 690px;
            padding-left: 1%;
        }

        &__left-side,
        &__rigth-side {
            width: 20%;
        }

        &__rigth-side {
            padding-top: 1.8%;
        }
    }
}

@media (min-width: 1400px) {
    .why-plae-section {
        background-size: 92% 100%;

        &__rigth-side {
            padding-top: 0;
        }
    }
}
