@import './reset';
@import './settings';

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-v23-latin-regular.eot');
    src: local(''),
         url('../fonts/nunito-v23-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito-v23-latin-regular.woff2') format('woff2'),
         url('../fonts/nunito-v23-latin-regular.woff') format('woff'),
         url('../fonts/nunito-v23-latin-regular.ttf') format('truetype'),
         url('../fonts/nunito-v23-latin-regular.svg#Nunito') format('svg');
}

@font-face {
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/yantramanav-v11-latin-regular.eot');
    src: local(''),
         url('../fonts/yantramanav-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yantramanav-v11-latin-regular.woff2') format('woff2'),
         url('../fonts/yantramanav-v11-latin-regular.woff') format('woff'),
         url('../fonts/yantramanav-v11-latin-regular.ttf') format('truetype'),
         url('../fonts/yantramanav-v11-latin-regular.svg#Yantramanav') format('svg');
}

.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

@import './top-section';
