@import "./reset";
@import "./settings";

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/nunito-v23-latin-300.eot");
    src: local(""),
        url("../fonts/nunito-v23-latin-300.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/nunito-v23-latin-300.woff2") format("woff2"),
        url("../fonts/nunito-v23-latin-300.woff") format("woff"),
        url("../fonts/nunito-v23-latin-300.ttf") format("truetype"),
        url("../fonts/nunito-v23-latin-300.svg#Nunito") format("svg");
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/nunito-v23-latin-regular.eot");
    src: local(""),
        url("../fonts/nunito-v23-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/nunito-v23-latin-regular.woff2") format("woff2"),
        url("../fonts/nunito-v23-latin-regular.woff") format("woff"),
        url("../fonts/nunito-v23-latin-regular.ttf") format("truetype"),
        url("../fonts/nunito-v23-latin-regular.svg#Nunito") format("svg");
}

@font-face {
    font-family: "Yantramanav";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/yantramanav-v11-latin-300.eot");
    src: local(""),
        url("../fonts/yantramanav-v11-latin-300.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/yantramanav-v11-latin-300.woff2") format("woff2"),
        url("../fonts/yantramanav-v11-latin-300.woff") format("woff"),
        url("../fonts/yantramanav-v11-latin-300.ttf") format("truetype"),
        url("../fonts/yantramanav-v11-latin-300.svg#Yantramanav") format("svg");
}

@font-face {
    font-family: "Yantramanav";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/yantramanav-v11-latin-regular.eot");
    src: local(""),
        url("../fonts/yantramanav-v11-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/yantramanav-v11-latin-regular.woff2") format("woff2"),
        url("../fonts/yantramanav-v11-latin-regular.woff") format("woff"),
        url("../fonts/yantramanav-v11-latin-regular.ttf") format("truetype"),
        url("../fonts/yantramanav-v11-latin-regular.svg#Yantramanav")
            format("svg");
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.wrapper {
    width: inherit;
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}

@media (min-width: 992px) {
    .wrapper {
        overflow: visible;
    }
}

@import "./top-section";
@import "./about-section";
@import "./reviews-section";
@import "./reviews-2-section";
@import "./carousel-section";
@import "./why-plae-section";
@import "./addresses-section";
@import "./footer";

@import "./titles";
@import "./form";
